.Container {
    padding: 20px;
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    .Titulo{
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            color: black;
            font-size: 40px;
            z-index: 1;
        }

        .linha{
            width: 90px;
            height: 9px;
            background-color: #20D3FC;
            border-radius: 20px;
            position: relative;
            top:10px;
            left: -90px;
        }
    }

    .comentarios{
        height: 25rem;

        .desing{
            display: flex;
            justify-content: space-around;
            .bolblue{
                width: 30%;
                height: 400px;
                background-color: #20D3FC;
                border-radius: 50%;
                display: flex;
                justify-content: flex-end;
            }

            .product{
                background-image: url('/assets/Products/iphone.webp');
                background-size: contain;
                width: 200px;
                height: 400px;
                background-position: center;
                background-repeat: no-repeat;
                
            }

            .logo{
                width: 200px;
                height: 200px;
                background-color: #A3DACB;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                margin: 190px 50px;
            }

            .comentvero{
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: black;

                h1{
                    font-size: 30px;
                }
                h2{
                    font-size: 30px;
                    b{
                        color: #20D3FC;
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {


        .Titulo{
            display: flex;
            align-items: center;
            justify-content: center;
    
            h1{
                color: black;
                font-size: 40px;
                z-index: 1;
            }
    
            .linha{
                width: 90px;
                height: 9px;
                background-color: #20D3FC;
                border-radius: 20px;
                position: relative;
                top:40px;
                left: -213px;
            }
        }
        .comentarios{
          .desing{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      
            .bolblue{
                width: 200px;
                height: 200px;
               
            }
      
            .product{
              background-image: url('/assets/Products/iphone.png');
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              width: 200px;
              height: 200px;
              /* Remova o 'top' e 'left' que você tinha aqui antes */
            }
      
            .logo{
              width: 100px;
              height: 100px;
              background-color: #A3DACB;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
                position: relative;
                top:-60px;
                left:30px
              /* Remova o 'top' e 'left' que você tinha aqui antes */
            }
      
            .comentvero{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: black;
              width: 100%;
              margin-top: 20px; /* Adicione uma margem superior se necessário */
      
              h1{
                font-size: 30px;
              }
              h2{
                font-size: 20px;
                b{
                  color: #20D3FC;
                }
              }
            }
          }
        }
      }
      
}
