.Container{
    width: 100%;
    height: 100%;
    background-image: url('/assets/Banner/‎‎banner2.‎001.‎001.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    position: relative; /* Adicione esta linha */
    color: #ffffff;

    h1{
        font-size: 35px;
        margin: 10px;
        text-shadow: 1px 1px 2px #000000;
    }
    .ContainerUser{
        display: flex;
        position: relative; /* Adicione esta linha */

        .user{
            width: 50%;
            display: flex;
            position: relative; /* Adicione esta linha */
            padding: 10px;
            align-items: center;
            justify-content: center;
            .bol{
                width: 350px;
                height: 350px;
                border-radius: 50%;
                background-color: #f2f2f2;
            }

            .bolciador{
                width: 350px;
                height: 350px;
                border-radius: 50%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                top:30px;
            }

            .text{
                width: 50%;
                margin-left: 10px;
                font-size: 18px;
                text-shadow: 1px 1px 1px #000000;
            }
        }
    }

    .divform{
        padding: 50px;
        width: 100%;
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            input{
                margin: 10px;
                padding: 10px;
                width: 100%;
                border-radius: 8px;
                color: black;
            }

            button{
                width: 50%;
                padding: 10px;
                border-radius: 8px;
                background-color: #20D3FC;
                box-shadow: 0 2px 4px rgba(0, 2, 2, 0.2);
                margin: 10px;
            }
        }
    }

    @media (max-width: 768px) {
        height: 100%;
        .ContainerUser{
            margin-top: 10px;
            display: flex;
            position: relative;
            flex-direction: column;
            .user{
                width: 100%;
                display: flex;
                position: relative; /* Adicione esta linha */
                padding: 3px;
                align-items: center;
                justify-content: center;
                
                flex-direction: column;
                .bol{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: #f2f2f2;
                   
                    
                    
                }
    
                .bolciador{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: #9e2121;
                    position: relative; /* Altere para absolute */
                    left: 30px; /* Ajuste conforme necessário */
                    top: 15px; /* Ajuste conforme necessário */
                }
    
                .text{
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }
}
