.container{
  background-color: #f2f2f2;
  height: 18rem;
  padding: 100px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Adicione isto */
  overflow: hidden; 
  justify-content: center;

  .chamada{
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
  }

  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    .logo{
      width: 250px;
      height: 90px;
      background-image: url('/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    font-size: 20px;
    .icons{
      display: flex;
      justify-content: space-between;
      padding: 10px;

      svg {
        margin-right: 30px; /* Ou qualquer valor que você preferir */
      }
    
      svg:last-child {
        margin-right: 0; /* Para garantir que não haja margem no último ícone */
      }
    }
  }

  /* Add this to display links and menu side by side */
  .links, .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Add this to arrange .links and .menu in a row */
  .bottomrow {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .bol{
    width: 500px;
    height: 400px;
    background-color: #20D3FC;
    display: flex;
    align-items: center; /* Modifique para center */
    justify-content: center; /* Modifique para center */
    color: #f2f2f2;
    border-radius: 50%;
    position: absolute;
    right: -95px;
    bottom: -195px;
    

    h1{
      font-size: 20px;
      margin-bottom: 95px;
      text-shadow: 1px 1px 1px #000000;
    }
}

@media (max-width: 768px) {

  padding: 0px;
  height: 38rem;
 
  .chamada{
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
  }

  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    .logo{
      width: 150px;
      height: 90px;
      background-image: url('/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    font-size: 15px;
    .icons{
      display: flex;
      justify-content: space-between;
      padding: 5px;
     
      svg {
        margin-right: 20px; /* Ou qualquer valor que você preferir */
      }
    
      svg:last-child {
        margin-right: 0; /* Para garantir que não haja margem no último ícone */
      }

      button{
        margin: 10px;
      }
    }

    
  }

  /* Add this to display links and menu side by side */
  .links, .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Add this to arrange .links and .menu in a row */
  .bottomrow {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .bol{
    width: 500px;
    height: 400px;
    background-color: #20D3FC;
    display: flex;
    align-items: center; /* Modifique para center */
    justify-content: center; /* Modifique para center */
    color: #f2f2f2;
    border-radius: 50%;
    position: absolute;
    right: -95px;
    bottom: -195px;
    

    h1{
      font-size: 20px;
      margin-bottom: 95px;
    }
}
  
  .bol {
    position: absolute;
    top: 110%; /* coloca no meio verticalmente */
    left: 50%; /* coloca no meio horizontalmente */
    transform: translate(-50%, -50%); /* compensa a própria metade do tamanho do elemento para centralizar perfeitamente */
    right: auto; /* remove o ajuste anterior de 'right' */
    bottom: auto; /* remove o ajuste anterior de 'bottom' */
    align-items: flex-start; /* Modifique para center */
    justify-content: center;


    h1{
      font-size: 20px;
      margin-top: 85px;
    }
  }
}



}
