/* components/Link/styles.module.scss */
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #20D3FC;
}

.active {
  color: #20D3FC;
}

/* Adicione este estilo */
.scrolling .active {
  color: #20D3FC;
}
